<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <ul class ="navbar">
        <li class="navitem"><a href="user">Cash</a></li>
        <li class="navitem"><a href="/">Portfolio</a></li>
        <li class="navitem"><a href="user">Account</a></li>
    </ul>
    <h1>Good Morning: <%=findUser.username%>!</h1>
    <section class="chart">
        <img src="/Users/jonathanpark/projectOne/Won-Ventures/assets/portfolio.png" width = 30px; height = 30px;>
    </section>
    <!-- view portfolio holding performance -->
    <!-- show cash balance -->
    <section class="cashBalance">
    Current Balance: <%=findUser.cash%>
    </section>
    <br>
    <!-- show positions held -->
    <section class="positions">
        <h2><b>Portfolio Holdings:</b></h2>
        <ul>
        <%for(let i=0;i<portfolioArray.length;i++){%>
            <%if(findUser.stocks[i].amount > 0){%> 
        <li>Stock:<%=portfolioArray[i].name%> amount:<%=findUser.stocks[i].amount%></li>
        <%}%>
        <%}%>
    </ul>
       <button><a href="/stock">Edit Stock</a></button>
    </section>
    <!-- show positions interested in -->
    <section class="watchlist">
        <%- include("./partials/watchlist.ejs")%>
        <button><a href="/stock">Add Stock</a></button>
    </section>
</body>
</html>


