<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h1>Good Morning: <%=findUser.username%>!</h1>
    <ul class ="navbar">
        <li><a href="user">Cash</a></li>
        <li><a href="portfolio">Portfolio</a></li>
        <li><a href="user">Account</a></li>
    </ul>
    <section class="chart">
        <img src="assets/123.png">
    </section>
    <!-- view portfolio holding performance -->
    <section class="chart">

    </section>
    <!-- show cash balance -->
    <section class="cashBalance">
    Current Balance: <%=findUser.cash%>
    </section>
    </section>
    <!-- show positions held -->
    <section class="positions">
        Portfolio Holdings:
        <ul>
        <%for(let i=0;i<portfolioArray.length;i++){%>
        <li>Stock:<%=portfolioArray[i].name%> amount:<%=findUser.stocks[i].amount%></li>
        <%}%>
    </ul>

       <button><a href="/stock">Add Stock</a></button>
    </section>
    <!-- show positions interested in -->
    <section class="watchlist">
        <%- include("./partials/watchlist.ejs")%>
        <button><a href="/stock">Add Stock</a></button>
    </section>
</body>
</html>


